body {
	text-align: center;
	margin:0 auto;
	padding:0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.weatherAppContent {
  width: 200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  background-color: #b5cbc5;
  border: 5px solid #6a9489;
}

.weatherAppContent__searchfield {
  width: 100%;
}

.weatherAppContent__searchfield:focus {
  border-color: #6a9489;
}

.weatherAppContent__button {
  width: 100%;
  height: 25px;
  margin-top: 15px;
  color: black;
  background-color: #6a9489;
}

.weatherAppContent ul {
  list-style: none;
  padding: 0;
}

.errorText {
  color: #B33A3A;
}

.successText {
  color: #4F8A10;
}
