<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="weatherApp">

  <div class="weatherAppContent" ng-controller="WeatherController">

    <h2>WeatherApp</h2>
    <input ng-pattern="/^\w+$/" class="weatherAppContent__searchfield" data-ng-keypress="getResultEnterbutton($event)" ng-model="search" type="text" placeholder="Enter city name.." autofocus>
    <button class="weatherAppContent__button" data-ng-click="results(search)">Search</button>
    <ul>
      <li>
        {{name}} {{temperature}}
      </li>
      <span class="errorText">{{error}}</span>
      <span class="successText">{{success}}</span>
    </ul>
    <button class="weatherAppContent__button" ng-click="save()">Save</button>
    <ul ng-repeat="names in savedTemperatures">
      <li>
        {{names}}
      </li>
    </ul>

  </div>

  <script style="text/javascript" src="bower_components\angular/angular.min.js"></script>
  <script style="text/javascript" src="js/app.js"></script>
</body>
</html>
